<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- MATERIALIZE  -->
    <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Concert+One|Luckiest+Guy|Poiret+One" rel="stylesheet">
    <!-- LINKS -->
    <link rel="stylesheet" type="text/css" href="/../css/style.css">

    <!--  icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title></title>
  </head>
  <body>
    <nav>
      <a href="/snackz">Home</a>
      <a href="#">Continents</a>
      <a href="#">Snackerz</a>
      <a href="#">Log In</a>
      <a href="#">Sign In</a>
    </nav>
  </body>
  <footer class="footer">
   <nav>
     <a href="#">Events</a>
     <a href="#">Join Our Team</a>
     <a href="#">Contact Us</a><br>
   </nav>
   <nav>
     <a href="#" class="fa fa-facebook"></a>
     <a href="#" class="fa fa-twitter"></a>
     <a href="#" class="fa fa-instagram" aria-hidden="true"></a>
     <a href="#" class="fa fa-linkedin"></a>
   </nav>
   <h8>Designed by Cori C. 2019</h8>
 </footer>
</html>
