<!DOCTYPE html>
<html>
   <% include ../partials/head.ejs %>
  <body class="center-align">
    <div class="index-container">
      <h1>All Snackz Page</h1>
      <ul>
        <% for(let i = 0; i < snacks.length; i++) { %>
            <li>
              <a href="/snackz/<%=snacks[i]._id%>"><%=snacks[i].continent %></a></br>
              <img class="contentPic" src="<%=snacks[i].img%>" alt="you cannot see the snack"></br>
            </li>
        <% } %>
      </ul>
    </div>
    <nav>
    <a href="/snackz/new">Create a New Snack</a>
</nav>
  </body>
</html>
