<!DOCTYPE html>
<html>
   <% include ../partials/head.ejs %>
  <body class="center-align">
    <form>
      <div class="input-field">
        <input id="search" type="search" required>
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
      </div>
    </form>
    <nav class="create-new">
      <a href="/snackz/new">Create a New Snack</a>
    </nav>
    <div class="center-align" id="index-container">
      <h5>Eat a Snack. Drink a Snack. Be a Snack.</h5>
      <div class="display">
        <div class="col s12">
          <ul>
            <% for(let i = 0; i < snacks.length; i++) { %>
                <li class="index-pic">
                  <!-- <a href="/snackz/<%=snacks[i]._id%>"><%=snacks[i].continent %></a> -->
                  <a href="/snackz/<%=snacks[i]._id%>">
                  <img class="circle responsive-img hoverable" id="contentPic" src="<%=snacks[i].img%>" alt="you cannot see the snack"></a></br>
                </li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
  </body>
  <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">More from Snackz on Snacks</h5>
              <p class="grey-text text-lighten-4">Make sure you're not left out from all things snackz on snacks. </p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Pod Cast</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Events </a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Join Team</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Contact Us</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Next Snack Highlight</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Next Destination</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2019 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
  </footer>
</html>
