<!DOCTYPE html>
<html>
   <% include ../partials/head.ejs %>
  <body class="center-align">
    <div class="index-container">
      <h1>All Snackz Page</h1>
      <ul>
        <% for(let i = 0; i < snacks.length; i++) { %>
            <li>
              <a href="/snackz/<%=snacks[i]._id%>"><%=snacks[i].continent %></a></br>
              <img class="contentPic" src="<%=snacks[i].img%>" alt="you cannot see the snack"></br>
            </li>
        <% } %>
      </ul>
    </div>
    <nav class="create-new">
      <a href="/snackz/new">Create a New Snack</a>
    </nav>
  </body>
  <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">More from Snackz on Snacks</h5>
              <p class="grey-text text-lighten-4">Make sure you're not left out from all things snackz on snacks. </p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Pod Cast</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Events </a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Join Team</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Contact Us</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Next Snack Highlight</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Next Destination</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2019 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
  </footer>
</html>
