<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>All Snackz Page</h1>
    <ul>
      <% for(let i = 0; i < snacks.length; i++) { %>
          <li>
            <a href="/snackz/<%=i%>"><%=snacks[i].snack %></a>
            <form action="/snackz/<%=snacks[i].id; %>?_method=DELETE" method="POST">
              <input type="submit" value="DELETE"/>
            </form>
            <a href="/snackz/<%=snacks[i].id; %>/edit">Edit</a>
          </li>
      <% } %>
    </ul>
    <nav>
    <a href="/snackz/new">Create a New Snack</a>
</nav>
  </body>
</html>
