<!DOCTYPE html>
<html>
   <% include ../partials/head.ejs %>
  <body>
    <h1>New Snackz Page</h1>
    <form action="/snackz" method="POST">
    Snacker: <input type="text" name="snacker" value="" /><br/>
    Snack: <input type="text" name="snack" /><br/>
    Continent: <input type="text" name="continent" value="" /><br/>
    Description: <input type="text" name="description" value="" /><br/>
    Pic: <input type="src" alt="you can't see me" name="image" value=""/><br/>
    </form>
    <input type="submit">
  </body>
</html>
