<!DOCTYPE html>
<html>
   <% include ../partials/head.ejs %>
  <body>
    <h1>New Snackz Page</h1>
    <form action="/snackz" method="POST">
    Snacker: <input type="text" name="snacker" value="" placeholder="enter your handle"/><br/>
    Snack: <input type="text" name="snack" value="" placeholder="what is the snack"/><br/>
    Continent: <input type="text" name="continent" value="" placeholder="what continent"/><br/>
    Description: <input type="text" name="description" value="" placeholder="deets please" /><br/>
    Pic: <input type="text" alt="you can't see me" name="img" value="" placeholder="upload pic"><br/>
    <input type="submit" name="" value"Submit Snack">
    </form>
  </body>
</html>
