<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Snackz Show Page</h1>
    The <%=snacks.snack; %> was uploaded by <%=snacks.snacker; %>. It is from <%=snacks.continent; %> and described as <%=snacks.description; %>.
  </body>
</html>
