<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Snackz Show Page</h1>
    The <%=snack.snack; %> was uploaded by <%=snack.snacker; %>. It is from <%=snack.continent; %> and described as <%=snack.description; %>.
  </body>
</html>
