body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: gray;
}

main {
  flex: 1 0 auto;
}

img {
  width: 45%;
}

.show-card-container {
  width: 45%;
  text-align: auto;
  padding-bottom: 90px;
  padding-top: 60px;
  margin: auto;
}
